<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Air orders system</title>
    <!-- 引入vue@2.6.11 -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
    <!-- 引入css -->
    <link rel="stylesheet" href="../static/css/index.css">
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <!-- 引入axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
<div id="app">
    <el-container>
        <el-header>HBL管理</el-header>
        <el-container>
            <!-- 侧拉栏 -->
            <el-aside width="200px">
                <el-menu default-active="2" class="el-menu-vertical-demo">
                    <el-submenu index="1">
                        <template slot="title">
                            <i class="el-icon-location"></i>
                            <span>导航一</span>
                        </template>
                        <el-menu-item-group>
                            <template slot="title">分组一</template>
                            <el-menu-item index="1-1">选项1</el-menu-item>
                            <el-menu-item index="1-2">选项2</el-menu-item>
                        </el-menu-item-group>
                        <el-menu-item-group title="分组2">
                            <el-menu-item index="1-3">选项3</el-menu-item>
                        </el-menu-item-group>
                        <el-submenu index="1-4">
                            <template slot="title">选项4</template>
                            <el-menu-item index="1-4-1">选项1</el-menu-item>
                        </el-submenu>
                    </el-submenu>
                    <el-menu-item index="2">
                        <i class="el-icon-menu"></i>
                        <span slot="title">导航二</span>
                    </el-menu-item>
                    <el-menu-item index="3" disabled>
                        <i class="el-icon-document"></i>
                        <span slot="title">导航三</span>
                    </el-menu-item>
                    <el-menu-item index="4">
                        <i class="el-icon-setting"></i>
                        <span slot="title">导航四</span>
                    </el-menu-item>
                </el-menu>
            </el-aside>
            <el-container>
                <!-- 主窗体 -->
                <el-main>
                    <!--面包屑得导航-->
                    <el-breadcrumb separator-class="el-icon-arrow-right">
                        <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
                        <el-breadcrumb-item>HBL号管理</el-breadcrumb-item>
                    </el-breadcrumb>
                    <!--  表单    -->
                    <el-form :inline="true" style="margin-top:20px">
                        <el-row :gutter="20">
                            <el-col :span="7">
                                <el-form-item label="HBL号">
                                    <el-input v-model="order_inquiry.input_hbl"
                                              align="right"
                                              unlink-panels
                                              placeholder="HBL号" style="width: 260px;"></el-input>
                                </el-form-item>
                            </el-col>
                            <el-col :span="7">
                                <el-form-item label="状态">
                                    <el-select v-model="order_inquiry.input_status" multiple align="right"
                                               unlink-panels placeholder="请选择" style="width: 260px;">
                                        <el-option v-for="item in status_options"
                                                   :key="item.value"
                                                   :label="item.label"
                                                   :value="item.value">
                                        </el-option>
                                        <!--                                        <el-option label="已入仓" value="已入仓"></el-option>-->
                                    </el-select>
                                </el-form-item>

                            </el-col>
                            <el-col :span="10">
                                <el-form-item label="录单时间">
                                    <el-date-picker
                                            v-model="order_inquiry.date_inquiry"
                                            type="daterange"
                                            align="right"
                                            unlink-panels
                                            range-separator="至"
                                            start-placeholder="开始日期"
                                            end-placeholder="结束日期"
                                            :picker-options="pickerOptions">
                                    </el-date-picker>
                                </el-form-item>
                            </el-col>
                        </el-row>
                    </el-form>
                    <el-form :inline="true" style="margin-top:2px">
                        <el-row :gutter="20">
                            <el-col :span="14" style="text-align: right;">
                                <el-button type="primary">导入excel</el-button>
                            </el-col>
                            <el-col :span="10" style="text-align: right;">
                                <el-button-group>
                                    <el-button type="primary" icon="el-icon-search" @click="queryOrders()">查询
                                    </el-button>
                                    <el-button type="primary" icon="el-icon-edit" @click="addorder()">添加</el-button>
                                    <el-button type="primary" icon="el-icon-view" @click="get_AllOrders">重置
                                    </el-button>
                                </el-button-group>
                            </el-col>
                        </el-row>
                    </el-form>
                    <!--  表格-->
                    <el-table :data="pageTableData" border style="width: 100%; margin-top:6px;" height="600">
                        <el-table-column fixed type="selection">
                        </el-table-column>
                        <el-table-column fixed
                                         prop="hbl_num" label="HBL号" width="120">
                        </el-table-column>
                        <el-table-column
                                prop="big_ticket_num" label="大票号" width="120">
                        </el-table-column>
                        <el-table-column
                                prop="hbl_status" label="状态" width="120">
                        </el-table-column>
                        <el-table-column
                                prop="create_date" label="录单日期" width="150">
                        </el-table-column>
                        <el-table-column
                                prop="hbl_remake" label="备注">
                        </el-table-column>
                        <el-table-column
                                fixed="right" label="操作" width="130">
                            <template slot-scope="scope">
                                <template slot-scop="scope">
                                    <el-button type="text" size="small" @click="viewOrder(scope.row)">查看</el-button>
                                    <el-button type="text" size="small" @click="updateOrder(scope.row)">维护</el-button>
                                    <el-button type="text" size="small">删除</el-button>
                                </template>
                            </template>
                        </el-table-column>
                    </el-table>
                    <!--                        分页-->
                    <el-row style="margin-top:6px">
                        <el-col :span="8" style="text-align:left">
                            <el-button type="danger" icon="el-icon-delete-solid" size="mini">批量删除</el-button>
                        </el-col>
                        <el-col :span="16" style="text-align:right">
                            <el-pagination
                                    @size-change="handleSizeChange"
                                    @current-change="handleCurrentChange"
                                    :current-page="currentpage"
                                    :page-sizes="[5, 10, 50, 100]"
                                    :page-size="pagesize"
                                    layout="total, sizes, prev, pager, next, jumper"
                                    :total="total">
                            </el-pagination>
                        </el-col>
                    </el-row>
                    <!-- 明细 -->
                    <el-dialog :title="dialogTitle" :visible.sync="dialogVisible" width="50%"
                               :close-on-click-modal="false" @close="closeDialogForm()">
                        <el-form :model="ordersForm" :rules="rules"
                                 lable-width="110px" style="margin-left: 20px;" label-width="110px">
                            <!--                                <el-form :inline="true"  :v-model="ordersForm" :rules="rules" style="margin-left: 20px;" label-width="110px">-->
                            <el-form-item label="HBL号:" prop="hbl_num">
                                <el-input v-model="ordersForm.hbl_num" :disabled="isView||isEdit"></el-input>
                            </el-form-item>
                            <el-form-item label="大  票  号:">
                                <el-input v-model="ordersForm.big_ticket_num" :disabled="isView||isEdit"></el-input>
                            </el-form-item>
                            <!--                                </el-form>-->

                            <el-form-item label="状    态:" prop="hbl_status">
                                <el-select v-model="ordersForm.hbl_status" prop="hbl_status" :disabled="isView||isEdit"
                                           placeholder="请选择">
                                    <el-option v-for="item in status_options"
                                               :key="item.value"
                                               :label="item.label"
                                               :value="item.value">
                                    </el-option>
                                </el-select>
                            </el-form-item>
                            <el-form :inline="true" style="margin-left: 20px;" label-width="100px">
                                <el-form-item label="录单时间:" label-position="right">
                                    <el-date-picker v-model="ordersForm.create_date" :disabled="true"
                                                    type="date" placeholder="选择日期">
                                    </el-date-picker>
                                </el-form-item>
                                <el-form-item label="录单人:">
                                    <el-input v-model="ordersForm.hbl_creator" :disabled="true"></el-input>
                                </el-form-item>
                            </el-form>
                            <el-form-item label="备注:">
                                <el-input v-model="ordersForm.hbl_remake" type="textarea" :disabled="isView"></el-input>
                            </el-form-item>
                            <el-divider></el-divider>
                            <template>
                                <el-table stripe style="width: 100%">
                                    <el-table-column
                                            prop="happen_date"
                                            label="发生日期"
                                            width="180">
                                    </el-table-column>
                                    <el-table-column
                                            prop="track_status"
                                            label="状态"
                                            width="180">
                                    </el-table-column>
                                    <el-table-column
                                            prop="track_remake"
                                            label="描述">
                                    </el-table-column>
                                    <el-table-column
                                            prop="status_display"
                                            label="是否显示">
                                        <el-switch
                                                style="display: block"
                                                active-color="#13ce66"
                                                inactive-color="#ff4949"
                                                active-text="显示"
                                                inactive-text="不展示">
                                        </el-switch>
                                    </el-table-column>
                                </el-table>
                            </template>
                            <!--                                动态表单-->
                            <el-form-item label-width="2px">
                                <el-row v-for="(track_domain, index) in ordersForm.track_domains"
                                        :key="track_domain.key" :gutter="20">
                                    <el-col :span="5">
                                        <el-form-item :prop="'track_domains[' + index + '].happen_date'"
                                                      :rules="{ required: true, message: '不能为空', trigger: 'blur' }">
                                            <el-date-picker v-model="track_domain.happen_date" style="width: 180px;"
                                                            type="date" placeholder="选择日期"></el-date-picker>
                                        </el-form-item>
                                    </el-col>
                                    <el-col :span="5">
                                        <el-form-item :prop="'track_domains[' + index + '].track_status'"
                                                      :rules="{ required: true, message: '不能为空', trigger: 'blur' }">
                                            <!--                                            <el-input v-model="track_domain.track_status"></el-input>-->
                                            <el-select v-model="track_domain.track_status"
                                                       placeholder="请选择">
                                                <el-option v-for="item in status_options"
                                                           :key="item.value"
                                                           :label="item.label"
                                                           :value="item.value">
                                                </el-option>
                                            </el-select>
                                        </el-form-item>
                                    </el-col>
                                    <el-col :span="7">
                                        <el-form-item :prop="'track_domains[' + index + '].track_remake'"
                                                      :rules="{ required: true, message: '不能为空', trigger: 'blur' }">
                                            <el-input v-model="track_domain.track_remake" type="textarea"></el-input>
                                        </el-form-item>
                                    </el-col>
                                    <el-col :span="3">
                                        <el-form-item :prop="'track_domains[' + index + '].status_display'"
                                                      :rules="{ required: true, message: '不能为空', trigger: 'blur' }">
                                            <!--                                            <el-input v-model="track_domain.status_display"></el-input>-->
                                            <el-switch
                                                    v-model="track_domain.status_display"
                                                    active-color="#13ce66"
                                                    inactive-color="#ff4949">
                                            </el-switch>
                                        </el-form-item>
                                    </el-col>
                                    <el-col :span="2">
                                        <el-button @click.prevent="removeTrackDomain(track_domain)">删除</el-button>
                                    </el-col>
                                </el-row>
                            </el-form-item>

                            <el-button @click="addTrackDomain" type="primary" round>+ 添加轨迹</el-button>
                        </el-form>
                        <span slot="footer" class="dialog-footer">
                                <el-button @click="closeDialogForm">取 消</el-button>
                                <el-button type="primary" v-show="!isView">确 定</el-button>
                            </span>
                    </el-dialog>
                </el-main>

                <el-footer style="height:30px;">siuloong@2023</el-footer>
            </el-container>
        </el-container>
    </el-container>
</div>
</body>
</html>
<script src="../static/js/index.js"></script>