<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>物流轨迹接口</title>
    <!-- 引入vue@2.6.11 -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
    <!-- 引入css -->
    <link rel="stylesheet" href="../static/css/track.css">
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <!-- 引入axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
    <div id="app2">
        <el-container>
            <el-header>Header</el-header>
            <el-main>
                <el-row :gutter="20">
                    <el-col :span="4">
                        <div class="grid-content bg-purple">
                            <i class="el-icon-location"></i>
                        </div>
                    </el-col>
                    <el-col :span="4">
                        <div class="grid-content bg-purple" >请输入HBL号</div>
                    </el-col>
                    <el-col :span="10">
                        <el-input   placeholder="请输入内容"></el-input>
                    </el-col>
                    <el-col :span="6">
                        <el-button type="primary">搜索</el-button>
                    </el-col>
                </el-row>
                <el-divider></el-divider>
                <el-timeline>
                    <el-timeline-item
                            v-for="(activity, index) in activities"
                            :key="index"
                            :icon="activity.icon"
                            :type="activity.type"
                            :color="activity.color"
                            :size="activity.size"
                            :timestamp="activity.timestamp">
                        {{activity.content}}
                    </el-timeline-item>
                </el-timeline>

            </el-main>
        </el-container>
    </div>
</body>
</html>
<script src="../static/js/track.js"></script>